In [1]:
import pandas as pd
import numpy as np

## Часть первая.
Вычисление среднего, максимального/минимального значений, медианы, моды числовых значений для всего массива в целом и для каждого типа контента (столбец Type) в отдельности.

***Загрузка данных из массива в DataFrame и вывод первых 10 объектов.***

In [2]:
data = pd.read_csv('dataset_Facebook.csv', sep = ';')
data.head(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142

***Список всех типов контента***

In [3]:
data.Type.unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

***Создаем новый DataFrame строки которого показывают среднее(Mean), максимальное(Max), минимальное(Min), медиану(Med) и моду(Mode) числовых значений массива.
Столбец 'Type' не выводится, поскольку не является числовым.***

In [4]:
df = data
lst = df.columns.tolist()
lst.remove('Type')
ans = pd.DataFrame({'Mean': df.mean(), 'Max': df.max(), 'Min': df.min(), 'Med': df.quantile(q=0.5), 'Mode': df.mode().iloc[0]}, index = df.columns)
ans = ans.T
ans.loc[['Mean', 'Max', 'Min', 'Med', 'Mode'], lst]

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Mean,123194,1.88,7.038,4.15,7.84,0.278557,13903.4,29585.9,920.344,798.772,1415.13,16766.4,6585.49,609.986,7.482,177.946,27.2661,212.12
Max,139441,3,12,7,23,1,180480,1110282,11452,11328,19779,1107833,51456,4376,372,5172,790,6334
Min,81370,1,1,1,1,0,238,570,9,9,9,567,236,9,0,0,0,0
Med,129600,2,7,4,9,0,5281,9051,625.5,551.5,851,6255.5,3417,412,3,101,19,123.5
Mode,136393,1,10,7,3,0,677,4372,537,182,431,1210,690,403,0,98,13,0

### Тип контента - Фото (Type = Photo)

***Создаем новый DataFrame на основе обьектов с типом 'Photo', строки которого показывают среднее(Mean), максимальное(Max), минимальное(Min), медиану(Med) и моду(Mode) числовых значений массива.***

In [5]:
df = data[data.Type == 'Photo']
ans = pd.DataFrame({'Mean': df.mean(), 'Max': df.max(), 'Min': df.min(), 'Med': df.quantile(q=0.5), 'Mode': df.mode().iloc[0]}, index = df.columns)
ans = ans.T
ans.loc[['Mean', 'Max', 'Min', 'Med', 'Mode'], lst]

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Mean,122354,1.91784,6.80516,4.10798,7.99765,0.28,13137.8,28994.5,818.946,690.432,1299.03,16422.5,6059.1,507.305,7.49296,182.612,27.1588,216.58
Max,139441,3,12,7,23,1,180480,1110282,11452,11328,19779,1107833,51456,3430,372,5172,790,6334
Min,81370,1,1,1,1,0,238,570,9,9,9,567,236,9,0,0,0,0
Med,128032,2,7,4,9,0,4675,8118.5,605.5,528.5,827,5498,3110,403,3,100,19,122
Mode,124940,1,10,7,3,0,677,4372,537,298,431,1210,690,403,0,7,14,0

### Тип Контента - Статус (Type = Status)

***Создаем новый DataFrame на основе обьектов с типом 'Status', строки которого показывают среднее(Mean), максимальное(Max), минимальное(Min), медиану(Med) и моду(Mode) числовых значений массива.***

In [6]:
df = data[data.Type == 'Status']
ans = pd.DataFrame({'Mean': df.mean(), 'Max': df.max(), 'Min': df.min(), 'Med': df.quantile(q=0.5), 'Mode': df.mode().iloc[0]}, index = df.columns)
ans = ans.T
ans.loc[['Mean', 'Max', 'Min', 'Med', 'Mode'], lst]

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Mean,132647,2.02222,9.06667,4.57778,7.24444,0.222222,13078.9,24244.5,2040.22,1949.56,2838.87,18664.3,9908.58,1719.84,8.91111,176.711,31.4222,217.044
Max,139441,3,12,7,15,1,31136,59964,6164,5934,9237,37849,21352,4376,60,859,123,1009
Min,104070,1,3,1,2,0,3930,7509,128,86,112,5009,2410,101,0,13,1,17
Med,135713,2,10,5,9,0,11096,20849,1701,1599,2201,17502,8980,1604,4,150,28,186
Mode,139441,2,12,5,10,0,3930,7509,128,86,1692,5009,2410,101,2,86,1,117

### Тип Контента - Ссылка (Type = Link)

***Создаем новый DataFrame на основе обьектов с типом 'Link', строки которого показывают среднее(Mean), максимальное(Max), минимальное(Min), медиану(Med) и моду(Mode) числовых значений массива.***

In [7]:
df = data[data.Type == 'Link']
ans = pd.DataFrame({'Mean': df.mean(), 'Max': df.max(), 'Min': df.min(), 'Med': df.quantile(q=0.5), 'Mode': df.mode().iloc[0]}, index = df.columns)
ans = ans.T
ans.loc[['Mean', 'Max', 'Min', 'Med', 'Mode'], lst]

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Mean,116363,1.13636,6.59091,4.27273,5.72727,0.272727,18544.6,28725.5,342.818,292.682,374.091,11148.6,6544.36,210.545,2.81818,73.3182,12.9091,89.0455
Max,138895,3,12,7,14,1,70912,229733,1374,1106,1345,42338,27232,788,15,379,44,420
Min,85979,1,1,1,2,0,1536,3094,24,23,26,2307,1180,19,0,5,0,6
Med,115396,1,4.5,4.5,4,0,7422,9773,244,205,290,9034.5,5039,161.5,1.5,37,10.5,52.5
Mode,138353,1,12,6,3,0,1536,3094,66,322,26,2307,1180,19,0,12,2,14

### Тип контента - Видео (Type = Video)

***Создаем новый DataFrame на основе обьектов с типом 'Video', строки которого показывают среднее(Mean), максимальное(Max), минимальное(Min), медиану(Med) и моду(Mode) числовых значений массива.***

In [8]:
df = data[data.Type == 'Video']
ans = pd.DataFrame({'Mean': df.mean(), 'Max': df.max(), 'Min': df.min(), 'Med': df.quantile(q=0.5), 'Mode': df.mode().iloc[0]}, index = df.columns)
ans = ans.T
ans.loc[['Mean', 'Max', 'Min', 'Med', 'Mode'], lst]

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
Mean,135015,1,9.57143,3.57143,8.71429,0.571429,51205.7,102622,1707,1584.71,2600.14,43149.9,17386.3,979.429,12.2857,231.429,52.1429,295.857
Max,138895,1,12,6,13,1,139008,277100,3872,3822,7327,107502,38720,2218,23,449,121,550
Min,126424,1,6,2,2,0,13544,30235,459,411,539,21436,9568,363,2,65,13,81
Med,137893,1,11,3,11,1,30624,56950,1779,1643,2331,30131,14112,885,17,204,44,271
Mode,137893,1,11,2,11,1,13544,30235,459,411,539,21436,9568,363,2,65,13,81

## Часть вторая.
Найти самый популярный объект в выборке, объяснить почему

***Для расчета популярности обьектов (постов) был выбран метод с коэффициентом вовлеченности в пересчете на охват (engagement rate by reach или ERR).
ERR = (Total reactions)/(Reach) ⋅ 100% 
или же в переводе на столбцы матрицы:***

***ERR = Total Interactions / Lifetime Post Total Reach ⋅ 100%***

*** Итоговое значение ERR показывает % людей, которые проявили активность у конкретного поста.***

*** В данном методе не используется информация о людях, которым понравилась страница с постом (подписчиках)[Lifetime Post reach by people who like your Page] и их активности на посте[Lifetime People who have liked your Page and engaged with your post].
Это связано с тем, что коеффицент ERR расчитаный на основании только подписчиков сильно превышает общий ERR и не всегда является оптимальным показателем (Пример - обьект № 118 - ERR_by_like = 49.86% ERR = 1.08% ;
обьект № 87 - ERR_by_like = 18.17% ERR = 7.75%). 
Исходя из приведенного примера видно, что коеффицент ERR_by_like целесообразно использовать в задачах, в которых вес активности подписчиков группы превышает вес активности новых (сторонних) пользователей.***

***Для более точного анализа необходимо понимать, какие критерии весят больше прочих. 
Т.е. для разных показателей поста добавляются множители. 
Например, вес репоста больше веса комментария, а вес комментария в свою очередь больше веса лайка, тогда можно выразить 
ER как ***

*** (share ⋅ 2 + comment + like / 2) / Lifetime Post Total Reach ⋅ 100%***

*** Кроме того, можно добавить такие показатели как: вовлеченность у подписчиков, общее количество показов поста(Lifetime Post Total Impressions), общее число подписчиков страницы и другие. ***

In [9]:
lst = [0,1,7,8,9,12,13,14,18,19]
data['ERR'] = data['Total Interactions'] / data['Lifetime Post Total Reach'] * 100
data.iloc[((data['ERR'].sort_values(ascending=False)).head(5)).keys().tolist(),lst]

,Page total likes,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total Interactions,ERR
87,137177,Photo,4012,7955,550,4625,2218,403,311,7.751745
81,137177,Photo,5990,11123,657,5057,2628,428,441,7.362270
92,137059,Photo,4732,9303,607,6201,3136,445,342,7.227388
126,136393,Photo,3366,6647,474,3180,1674,385,242,7.189542
161,135617,Photo,3992,7255,598,4428,2420,435,282,7.064128

*** По оценке коэффицента ERR самым популярным (по % людей проявивших активность к посту) является пост № 87. Из 4012 людей просмотревших данный пост 311 (7.75%) проявили активность.***

*** Сравнение популярности постов у подписчиков страницы (ERR_F) и всех пользователей (ERR)***

In [10]:
lst.append(20)
data['ERR_F'] = data['Lifetime People who have liked your Page and engaged with your post'] / data['Lifetime Post reach by people who like your Page'] * 100
data.iloc[((data['ERR_F'].sort_values(ascending=False)).head(3)).keys().tolist(),lst]

,Page total likes,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total Interactions,ERR,ERR_F
118,136642,Photo,834,1570,399,1390,704,351,9,1.079137,49.857955
120,136393,Photo,584,1029,273,943,511,232,2,0.342466,45.401174
122,136393,Photo,619,1096,257,951,516,217,4,0.646204,42.054264

*** В таблице ниже приведены три наиболее просматриваемых по числу пользователей поста. Однако показатели ERR равняются 3.5%, 0.2% и 0,11% соответственно. Что говорит о плохой активности пользователей и как следствие - низкой популярности. ***

*** Активность самого просматриваемого поста (№244) в 2.2 раза меньше активности поста №87(ERR = 7.75)***

In [11]:
data.iloc[((data['Lifetime Post Total Reach'].sort_values(ascending=False)).head(3)).keys().tolist(),lst]

,Page total likes,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total Interactions,ERR,ERR_F
244,130791,Photo,180480,319133,8072,108752,51456,3316,6334,3.509530,6.444341
464,92079,Photo,158208,453213,2482,81938,20608,1034,313,0.197841,5.017469
463,92186,Photo,153536,497910,1713,8907,5696,593,176,0.114631,10.410815

*** В таблице ниже представлены три поста с наибольшим колличеством активных действий. ERR равняется 3.5%, 2.06% и 4.7% соответственно.***

*** При этом пост с наибольшим колличеством активных действий также является наиболее просматриваемым постом. ***

In [12]:
data.iloc[((data['Total Interactions'].sort_values(ascending=False)).head(3)).keys().tolist(),lst]

,Page total likes,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total Interactions,ERR,ERR_F
244,130791,Photo,180480,319133,8072,108752,51456,3316,6334,3.509530,6.444341
379,111620,Photo,105632,147918,3984,48575,27328,1936,2177,2.060929,7.084309
168,135428,Photo,41984,68290,3370,34802,20928,2126,1974,4.701791,10.158639

*** Пост с наибольшим колличеством просмотров, среди людей, которым понравилась страница (Подписчиков) - № 244 ***

In [13]:
data.iloc[((data['Lifetime Post reach by people who like your Page'].sort_values(ascending=False)).head(1)).keys().tolist(),lst]

,Page total likes,Type,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,Total Interactions,ERR,ERR_F
244,130791,Photo,180480,319133,8072,108752,51456,3316,6334,3.50953,6.444341

## Итог
*** В результате можно заключить, что самым популярным постом по коэффициенту вовлеченности в пересчете на охват является пост под номером 87 (ERR = 7.75, просмотревших людей = 4012, активных действий = 311). ***

*** В то время как самым популярным с точки зрения количества людей, просмотревших пост (180480 человек), количества подписчиков, просмотревших пост(51456 человек), и количества активных действий у поста (372 комментария, 5172 лайка и 790 репостов) является пост под номером 244 (ERR = 3.5) ***

In [14]:
print("Обьект №87:" + '\n' + str(data.iloc[87]))
print('\n' + "Обьект №244:" + '\n' + str(data.iloc[244]))

Обьект №87:
Page total likes                                                        137177
Type                                                                     Photo
Category                                                                     3
Post Month                                                                  11
Post Weekday                                                                 3
Post Hour                                                                   10
Paid                                                                         0
Lifetime Post Total Reach                                                 4012
Lifetime Post Total Impressions                                           7955
Lifetime Engaged Users                                                     550
Lifetime Post Consumers                                                    319
Lifetime Post Consumptions                                                 477
Lifetime Post Impressions by people who have liked your Page              4625
Lifetime Post reach by people who like your Page                          2218
Lifetime People who have liked your Page and engaged with your post        403
comment                                                                      3
like                                                                       270
share                                                                       38
Total Interactions                                                         311
ERR                                                                    7.75174
ERR_F                                                                  18.1695
Name: 87, dtype: object

Обьект №244:
Page total likes                                                        130791
Type                                                                     Photo
Category                                                                     2
Post Month                                                                   7
Post Weekday                                                                 3
Post Hour                                                                    5
Paid                                                                         1
Lifetime Post Total Reach                                               180480
Lifetime Post Total Impressions                                         319133
Lifetime Engaged Users                                                    8072
Lifetime Post Consumers                                                   4010
Lifetime Post Consumptions                                                6242
Lifetime Post Impressions by people who have liked your Page            108752
Lifetime Post reach by people who like your Page                         51456
Lifetime People who have liked your Page and engaged with your post       3316
comment                                                                    372
like                                                                      5172
share                                                                      790
Total Interactions                                                        6334
ERR                                                                    3.50953
ERR_F                                                                  6.44434
Name: 244, dtype: object